table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#movies th a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
table#movies th.hilite {
    background-color: yellow;
}